/.git
/.well-known
/bitrix/*
/bitrix
/upload
/vendor
/yandex_*.html
/google*.html
/composer.phar
/.idea/*
/.htaccess
*.log
*.sql
*.txt
*.csv
*.xml
*.dt
*.*_
*.gz
*.gz.?
*.zip
*.swp
*.swo
*.pdf
*.DS_Store
/.htsecure