.bxr-image-v1{
    display: inline-block;
    font-size: 13px;
    margin-bottom: 10px;
    width: 100%;
}

.bxr-image-v1.bxr-border-color {
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #eaeaea;
}

.bxr-image-v1.bxr-use-background .bxr-element-container {
    background-color: #fff;
}

.bxr-image-v1 .bxr-element-container{
    display: inline-block;
    width: 100%;
}

.bxr-image-v1 .bxr-element-image{
    max-width: 100%;
    text-align: center;
    padding: 0;
    margin: 10px auto;
    display: table;
}

.bxr-image-v1 .bxr-element-image > * {
    display: table-cell;
    vertical-align: middle;
}

.bxr-image-v1 .bxr-element-name{
    margin: 0px auto 16px auto;
    text-align: center;
}

.bxr-image-v1 .bxr-element-image img{
    max-width: 100%;
    margin: 0 auto;
}

.slick-slide .bxr-image-v1 {
    margin-bottom: 0px;
}

.bxr-image-v1.bxr-grayscale .bxr-element-image img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.bxr-image-v1.bxr-grayscale:hover .bxr-element-image img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}