.rk-fullwidth{
    overflow: hidden;
    width: 100%;
    margin: 0px auto 20px;
    display: block;
}

.rk-fullwidth-canvas{
    text-align: center;
    position: relative;

}

.rk-fullwidth-canvas.responsive img{
    max-width: 100%;
    height: auto;

}