.bxr-element-video-card-iframe-list {
    margin-bottom: 20px;
}

.bxr-element-video-card-iframe-list .bxr-element-video-card-iframe-img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.bxr-element-video-card-iframe-list.element-video-card-description
,.bxr-element-video-card-iframe-list .bxr-font-color element-video-card-titl{
    display: block;
}

.bxr-element-video-card-iframe-list .bxr-element-video-card-iframe-e {
    margin-bottom: 4px;
}

.bxr-element-video-card-iframe-list .element-video-card-iframe-content {
    font-size: 13px;
}

.bxr-element-video-card-iframe-list .element-video-card-iframe-content p {
    margin-bottom: 5px;
    max-height: 2.6em;
    overflow: hidden;
    -webkit-line-clamp: 2;
    color: #181818;
    font-weight: bold;
}