.reviews_classic_va2 {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    margin-bottom: 25px;
}
.reviews_classic_va2 .reviews_text {
    background-color: #f3f6f9;
    padding: 18px 22px 18px 15px;
    border: 1px solid #f3f3f3;
    position: relative;
    margin-bottom: 18px;
}

.reviews_classic_va2 .reviews_text::before, .reviews_classic_va2 .reviews_text::after {
    content: ''; 
    position: absolute;
    left: 20px; bottom: -14px;
    border: 7px solid transparent;
    border-top: 7px solid #f3f3f3;
    border-right: 7px solid #f3f3f3;
}

.reviews_classic_va2 .reviews_text::after {
    border-top: 7px solid #f3f6f9;
    border-right: 7px solid #f3f6f9;
    bottom: -13px; 
}

.reviews_classic_va2 .reviews_author {
    font-weight: bold; 
}