.bxr_example_element{
    margin-bottom: 20px;
    border: 1px solid #FFF;
}

.bxr_example_name a{
    font-weight: bold;
    color: #A00;
    font-size: 14px;
}

.bxr_example_element:hover{
    border: 1px solid #f6f6f6;
}